<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SFUpload</h1>

    <input type="file" id="files" name="files[]" multiple="">
    <p>Drag & Drop one or multiple files</p>
  </body>
</html>
