<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='js/sfupload.js'></script>
    <script src='js/go.js'></script>
  </head>
  <body>
    <h1>SFUpload</h1>
    <div id="info">
      <p>You can Drag & Drop one or multiple files on the page.</p>
    </div>
    <div class='btn'>Select File</div>
    <input type="file" id="files" name="files[]" multiple="">
    <div id="progress">
      <div class="bar"><span></span></div>
    </div>
    <div id="file"></div>
    <div id="speed"></div>
    <div id="timeRest"></div>
  </body>
</html>
