<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='js/sfupload.js'></script>
    <script src='js/go.js'></script>
  </head>
  <body>
    <h1>SFUpload</h1>
    <input type="file" id="files" name="files[]" multiple="">
    <p>Drag & Drop one or multiple files</p>
    <div id="progressbar">
      <div class="bar"><span></span></div>
    </div>
  </body>
</html>
